{% extends 'absences/base_enseignant.html' %}

{% block title %}Statistiques Enseignant{% endblock %}

{% block content %}

<h4 class="mb-4">
    <i class="bi bi-bar-chart-fill me-2"></i>
    Mes statistiques
</h4>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th>Matière</th>
                    <th>Nombre d'absences</th>
                </tr>
            </thead>

            <tbody>
            {% for s in stats %}
                <tr>
                    <td>{{ s.date_ar|date:"d/m/Y" }}</td>
                    <td>{{ s.matiere }}</td>
                    <td class="text-danger fw-bold">
                        {{ s.nb_absences }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted">
                        Aucune statistique disponible
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
